body{
    background-color: lightgrey;
    background-image: url(hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-item{
    margin: auto;
}
.container-fluid{
    width: 100%;
}



.dobozkép{
    margin: 100px 100px auto 100px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.kepek{
    width: 166px;
    height: 166px;
}

p{
    background-color: #5cc4bd;
}

.kepekg{
    width: 550px;
    height: 600px;
}

.sorok{
    margin: auto 100px auto 100px;
    background-color: #5cc4bd;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20%;
}

.oatlag{
    width: 512px;
    height: auto;
}
p{
    font-size: large;
 font-weight: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    color: white;
}
table{
    text-align: center;
}
.kozep{
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  