body{
    background-color: lightgrey;
    background-image: url(hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-item{
    margin: auto;
}
.container-fluid{
    width: 100%;
}
img{
    border-radius: 20%;

}
.dobozkép{
    margin: 100px 100px auto 100px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.kepek{
    width: 166px;
    height: 166px;
}

p{
    background-color: #5cc4bd;
}

.kepekg{
    width: 482px;
    height: 256px;
}

.sorok{
    margin: auto 100px auto 100px;
    background-color: #5cc4bd;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20%;
}

.oatlag{
    width: 512px;
    height: auto;
}